body {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 350px;
}
.converter {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.dropdown, .input-output {
    margin-bottom: 20px;
}
.dropdown label, .input-output label {
    display: block;
    margin-bottom: 5px;
}
.dropdown select, .input-output textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}
.convert-btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.convert-btn:active {
    background-color: #45a049;
}